<h1> Dice Roll </h1>

<ul>
  <li>
    Roll two 6-sided dice
  </li>

  <li>
    Roll two 10-sided dice
  </li>

  <li>
    Roll one 20-sided die
  </li>
  <li>
    Roll five 4-sided dice
  </li>
</ul>
